
.btn:hover {
	color: #212529;
	text-decoration: none
}
.bg-primary {
	background-color: #5867dd !important
}


.btn-brand {
	border-color: #5d78ff;
	background-color: #f6f7ff;
	color: #0b0b0b;
	border: 2px solid #dbd6d6
}

.btn-brand:hover {
	color: #0b0b0b;
	background-color: #fff;
	border-color: #2a4eff;
	border: 2px solid #dbd6d6
}


.btn-primary:hover {
	color: #fff;
	background-color: #384ad7;
	border-color: #2e40d4
}




.kt-margin-0 {
	margin: 0 !important
}

.kt-margin-t-0 {
	margin-top: 0 !important
}

.kt-margin-b-0 {
	margin-bottom: 0 !important
}

.kt-padding-0 {
	padding: 0 !important
}

.kt-padding-t-0 {
	padding-top: 0 !important
}

.kt-padding-b-0 {
	padding-bottom: 0 !important
}

.kt-m0 {
	margin: 0 !important
}

.kt-mt-0 {
	margin-top: 0 !important
}

.kt-p0 {
	padding: 0 !important
}

.kt-pb-0 {
	padding-bottom: 0 !important
}

.kt-pl0 {
	padding-left: 0 !important
}

.kt-pr0 {
	padding-right: 0 !important
}

.kt-margin-5 {
	margin: 5px !important
}

.kt-margin-t-5 {
	margin-top: 5px !important
}

.kt-margin-b-5 {
	margin-bottom: 5px !important
}

.kt-padding-5 {
	padding: 5px !important
}

.kt-padding-t-5 {
	padding-top: 5px !important
}

.kt-padding-b-5 {
	padding-bottom: 5px !important
}

.kt-m5 {
	margin: 5px !important
}

.kt-mt-5 {
	margin-top: 5px !important
}

.kt-p5 {
	padding: 5px !important
}

.kt-pb-5 {
	padding-bottom: 5px !important
}

.kt-pl5 {
	padding-left: 5px !important
}

.kt-pr5 {
	padding-right: 5px !important
}

.kt-margin-10 {
	margin: 10px !important
}

.kt-margin-t-10 {
	margin-top: 10px !important
}

.kt-margin-b-10 {
	margin-bottom: 10px !important
}

.kt-padding-10 {
	padding: 10px !important
}

.kt-padding-t-10 {
	padding-top: 10px !important
}

.kt-padding-b-10 {
	padding-bottom: 10px !important
}

.kt-m10 {
	margin: 10px !important
}

.kt-mt-10 {
	margin-top: 10px !important
}

.kt-p10 {
	padding: 10px !important
}

.kt-pb-10 {
	padding-bottom: 10px !important
}

.kt-pl10 {
	padding-left: 10px !important
}

.kt-pr10 {
	padding-right: 10px !important
}

.kt-margin-15 {
	margin: 15px !important
}

.kt-margin-t-15 {
	margin-top: 15px !important
}

.kt-margin-b-15 {
	margin-bottom: 15px !important
}

.kt-padding-15 {
	padding: 15px !important
}

.kt-padding-t-15 {
	padding-top: 15px !important
}

.kt-padding-b-15 {
	padding-bottom: 15px !important
}

.kt-m15 {
	margin: 15px !important
}

.kt-mt-15 {
	margin-top: 15px !important
}

.kt-p15 {
	padding: 15px !important
}

.kt-pb-15 {
	padding-bottom: 15px !important
}

.kt-pl15 {
	padding-left: 15px !important
}

.kt-pr15 {
	padding-right: 15px !important
}

.kt-margin-20 {
	margin: 20px !important
}

.kt-margin-t-20 {
	margin-top: 20px !important
}

.kt-margin-b-20 {
	margin-bottom: 20px !important
}

.kt-padding-20 {
	padding: 20px !important
}

.kt-padding-t-20 {
	padding-top: 20px !important
}

.kt-padding-b-20 {
	padding-bottom: 20px !important
}

.kt-m20 {
	margin: 20px !important
}

.kt-mt-20 {
	margin-top: 20px !important
}

.kt-p20 {
	padding: 20px !important
}

.kt-pb-20 {
	padding-bottom: 20px !important
}

.kt-pl20 {
	padding-left: 20px !important
}

.kt-pr20 {
	padding-right: 20px !important
}

.kt-margin-25 {
	margin: 25px !important
}

.kt-margin-t-25 {
	margin-top: 25px !important
}

.kt-margin-b-25 {
	margin-bottom: 25px !important
}

.kt-padding-25 {
	padding: 25px !important
}

.kt-padding-t-25 {
	padding-top: 25px !important
}

.kt-padding-b-25 {
	padding-bottom: 25px !important
}

.kt-m25 {
	margin: 25px !important
}

.kt-mt-25 {
	margin-top: 25px !important
}

.kt-p25 {
	padding: 25px !important
}

.kt-pb-25 {
	padding-bottom: 25px !important
}

.kt-pl25 {
	padding-left: 25px !important
}

.kt-pr25 {
	padding-right: 25px !important
}

.kt-margin-30 {
	margin: 30px !important
}

.kt-margin-t-30 {
	margin-top: 30px !important
}

.kt-margin-b-30 {
	margin-bottom: 30px !important
}

.kt-padding-30 {
	padding: 30px !important
}

.kt-padding-t-30 {
	padding-top: 30px !important
}

.kt-padding-b-30 {
	padding-bottom: 30px !important
}

.kt-m30 {
	margin: 30px !important
}

.kt-mt-30 {
	margin-top: 30px !important
}

.kt-p30 {
	padding: 30px !important
}

.kt-pb-30 {
	padding-bottom: 30px !important
}

.kt-pl30 {
	padding-left: 30px !important
}

.kt-pr30 {
	padding-right: 30px !important
}

.kt-margin-35 {
	margin: 35px !important
}

.kt-margin-t-35 {
	margin-top: 35px !important
}

.kt-margin-b-35 {
	margin-bottom: 35px !important
}

.kt-padding-35 {
	padding: 35px !important
}

.kt-padding-t-35 {
	padding-top: 35px !important
}

.kt-padding-b-35 {
	padding-bottom: 35px !important
}

.kt-m35 {
	margin: 35px !important
}

.kt-mt-35 {
	margin-top: 35px !important
}

.kt-p35 {
	padding: 35px !important
}

.kt-pb-35 {
	padding-bottom: 35px !important
}

.kt-pl35 {
	padding-left: 35px !important
}

.kt-pr35 {
	padding-right: 35px !important
}

.kt-margin-40 {
	margin: 40px !important
}

.kt-margin-t-40 {
	margin-top: 40px !important
}

.kt-margin-b-40 {
	margin-bottom: 40px !important
}

.kt-padding-40 {
	padding: 40px !important
}

.kt-padding-t-40 {
	padding-top: 40px !important
}

.kt-padding-b-40 {
	padding-bottom: 40px !important
}

.kt-m40 {
	margin: 40px !important
}

.kt-mt-40 {
	margin-top: 40px !important
}

.kt-p40 {
	padding: 40px !important
}

.kt-pb-40 {
	padding-bottom: 40px !important
}

.kt-pl40 {
	padding-left: 40px !important
}

.kt-pr40 {
	padding-right: 40px !important
}

.kt-margin-45 {
	margin: 45px !important
}

.kt-margin-t-45 {
	margin-top: 45px !important
}

.kt-margin-b-45 {
	margin-bottom: 45px !important
}

.kt-padding-45 {
	padding: 45px !important
}

.kt-padding-t-45 {
	padding-top: 45px !important
}

.kt-padding-b-45 {
	padding-bottom: 45px !important
}

.kt-m45 {
	margin: 45px !important
}

.kt-mt-45 {
	margin-top: 45px !important
}

.kt-p45 {
	padding: 45px !important
}

.kt-pb-45 {
	padding-bottom: 45px !important
}

.kt-pl45 {
	padding-left: 45px !important
}

.kt-pr45 {
	padding-right: 45px !important
}

.kt-margin-50 {
	margin: 50px !important
}

.kt-margin-t-50 {
	margin-top: 50px !important
}

.kt-margin-b-50 {
	margin-bottom: 50px !important
}

.kt-padding-50 {
	padding: 50px !important
}

.kt-padding-t-50 {
	padding-top: 50px !important
}

.kt-padding-b-50 {
	padding-bottom: 50px !important
}

.kt-m50 {
	margin: 50px !important
}

.kt-mt-50 {
	margin-top: 50px !important
}

.kt-p50 {
	padding: 50px !important
}

.kt-pb-50 {
	padding-bottom: 50px !important
}

.kt-pl50 {
	padding-left: 50px !important
}

.kt-pr50 {
	padding-right: 50px !important
}

.kt-margin-55 {
	margin: 55px !important
}

.kt-margin-t-55 {
	margin-top: 55px !important
}

.kt-margin-b-55 {
	margin-bottom: 55px !important
}

.kt-padding-55 {
	padding: 55px !important
}

.kt-padding-t-55 {
	padding-top: 55px !important
}

.kt-padding-b-55 {
	padding-bottom: 55px !important
}

.kt-m55 {
	margin: 55px !important
}

.kt-mt-55 {
	margin-top: 55px !important
}

.kt-p55 {
	padding: 55px !important
}

.kt-pb-55 {
	padding-bottom: 55px !important
}

.kt-pl55 {
	padding-left: 55px !important
}

.kt-pr55 {
	padding-right: 55px !important
}

.kt-margin-60 {
	margin: 60px !important
}

.kt-margin-t-60 {
	margin-top: 60px !important
}

.kt-margin-b-60 {
	margin-bottom: 60px !important
}

.kt-padding-60 {
	padding: 60px !important
}

.kt-padding-t-60 {
	padding-top: 60px !important
}

.kt-padding-b-60 {
	padding-bottom: 60px !important
}

.kt-m60 {
	margin: 60px !important
}

.kt-mt-60 {
	margin-top: 60px !important
}

.kt-p60 {
	padding: 60px !important
}

.kt-pb-60 {
	padding-bottom: 60px !important
}

.kt-pl60 {
	padding-left: 60px !important
}

.kt-pr60 {
	padding-right: 60px !important
}

.kt-margin-65 {
	margin: 65px !important
}

.kt-margin-t-65 {
	margin-top: 65px !important
}

.kt-margin-b-65 {
	margin-bottom: 65px !important
}

.kt-padding-65 {
	padding: 65px !important
}

.kt-padding-t-65 {
	padding-top: 65px !important
}

.kt-padding-b-65 {
	padding-bottom: 65px !important
}

.kt-m65 {
	margin: 65px !important
}

.kt-mt-65 {
	margin-top: 65px !important
}

.kt-p65 {
	padding: 65px !important
}

.kt-pb-65 {
	padding-bottom: 65px !important
}

.kt-pl65 {
	padding-left: 65px !important
}

.kt-pr65 {
	padding-right: 65px !important
}

.kt-margin-70 {
	margin: 70px !important
}

.kt-margin-t-70 {
	margin-top: 70px !important
}

.kt-margin-b-70 {
	margin-bottom: 70px !important
}

.kt-padding-70 {
	padding: 70px !important
}

.kt-padding-t-70 {
	padding-top: 70px !important
}

.kt-padding-b-70 {
	padding-bottom: 70px !important
}

.kt-m70 {
	margin: 70px !important
}

.kt-mt-70 {
	margin-top: 70px !important
}

.kt-p70 {
	padding: 70px !important
}

.kt-pb-70 {
	padding-bottom: 70px !important
}

.kt-pl70 {
	padding-left: 70px !important
}

.kt-pr70 {
	padding-right: 70px !important
}

.kt-margin-75 {
	margin: 75px !important
}

.kt-margin-t-75 {
	margin-top: 75px !important
}

.kt-margin-b-75 {
	margin-bottom: 75px !important
}

.kt-padding-75 {
	padding: 75px !important
}

.kt-padding-t-75 {
	padding-top: 75px !important
}

.kt-padding-b-75 {
	padding-bottom: 75px !important
}

.kt-m75 {
	margin: 75px !important
}

.kt-mt-75 {
	margin-top: 75px !important
}

.kt-p75 {
	padding: 75px !important
}

.kt-pb-75 {
	padding-bottom: 75px !important
}

.kt-pl75 {
	padding-left: 75px !important
}

.kt-pr75 {
	padding-right: 75px !important
}

.kt-margin-80 {
	margin: 80px !important
}

.kt-margin-t-80 {
	margin-top: 80px !important
}

.kt-margin-b-80 {
	margin-bottom: 80px !important
}

.kt-padding-80 {
	padding: 80px !important
}

.kt-padding-t-80 {
	padding-top: 80px !important
}

.kt-padding-b-80 {
	padding-bottom: 80px !important
}

.kt-m80 {
	margin: 80px !important
}

.kt-mt-80 {
	margin-top: 80px !important
}

.kt-p80 {
	padding: 80px !important
}

.kt-pb-80 {
	padding-bottom: 80px !important
}

.kt-pl80 {
	padding-left: 80px !important
}

.kt-pr80 {
	padding-right: 80px !important
}

.kt-margin-85 {
	margin: 85px !important
}

.kt-margin-t-85 {
	margin-top: 85px !important
}

.kt-margin-b-85 {
	margin-bottom: 85px !important
}

.kt-padding-85 {
	padding: 85px !important
}

.kt-padding-t-85 {
	padding-top: 85px !important
}

.kt-padding-b-85 {
	padding-bottom: 85px !important
}

.kt-m85 {
	margin: 85px !important
}

.kt-mt-85 {
	margin-top: 85px !important
}

.kt-p85 {
	padding: 85px !important
}

.kt-pb-85 {
	padding-bottom: 85px !important
}

.kt-pl85 {
	padding-left: 85px !important
}

.kt-pr85 {
	padding-right: 85px !important
}

.kt-margin-90 {
	margin: 90px !important
}

.kt-margin-t-90 {
	margin-top: 90px !important
}

.kt-margin-b-90 {
	margin-bottom: 90px !important
}

.kt-padding-90 {
	padding: 90px !important
}

.kt-padding-t-90 {
	padding-top: 90px !important
}

.kt-padding-b-90 {
	padding-bottom: 90px !important
}

.kt-m90 {
	margin: 90px !important
}

.kt-mt-90 {
	margin-top: 90px !important
}

.kt-p90 {
	padding: 90px !important
}

.kt-pb-90 {
	padding-bottom: 90px !important
}

.kt-pl90 {
	padding-left: 90px !important
}

.kt-pr90 {
	padding-right: 90px !important
}

.kt-margin-95 {
	margin: 95px !important
}

.kt-margin-t-95 {
	margin-top: 95px !important
}

.kt-margin-b-95 {
	margin-bottom: 95px !important
}

.kt-padding-95 {
	padding: 95px !important
}

.kt-padding-t-95 {
	padding-top: 95px !important
}

.kt-padding-b-95 {
	padding-bottom: 95px !important
}

.kt-m95 {
	margin: 95px !important
}

.kt-mt-95 {
	margin-top: 95px !important
}

.kt-p95 {
	padding: 95px !important
}

.kt-pb-95 {
	padding-bottom: 95px !important
}

.kt-pl95 {
	padding-left: 95px !important
}

.kt-pr95 {
	padding-right: 95px !important
}

.kt-margin-100 {
	margin: 100px !important
}

.kt-margin-t-100 {
	margin-top: 100px !important
}

.kt-margin-b-100 {
	margin-bottom: 100px !important
}

.kt-padding-100 {
	padding: 100px !important
}

.kt-padding-t-100 {
	padding-top: 100px !important
}

.kt-padding-b-100 {
	padding-bottom: 100px !important
}

.kt-m100 {
	margin: 100px !important
}

.kt-mt-100 {
	margin-top: 100px !important
}

.kt-p100 {
	padding: 100px !important
}

.kt-pb-100 {
	padding-bottom: 100px !important
}

.kt-pl100 {
	padding-left: 100px !important
}

.kt-pr100 {
	padding-right: 100px !important
}

@media (max-width:768px) {
	.kt-margin-0-mobile {
		margin: 0 !important
	}

	.kt-margin-t-0-mobile {
		margin-top: 0 !important
	}

	.kt-margin-b-0-mobile {
		margin-bottom: 0 !important
	}

	.kt-padding-0-mobile {
		padding: 0 !important
	}

	.kt-padding-t-0-mobile {
		padding-top: 0 !important
	}

	.kt-padding-b-0-mobile {
		padding-bottom: 0 !important
	}

	.kt-m0-mobile {
		margin: 0 !important
	}

	.kt-mt-0-mobile {
		margin-top: 0 !important
	}

	.kt-p0-mobile {
		padding: 0 !important
	}

	.kt-pb-0-mobile {
		padding-bottom: 0 !important
	}

	.kt-pl0-mobile {
		padding-left: 0 !important
	}

	.kt-pr0-mobile {
		padding-right: 0 !important
	}

	.kt-margin-5-mobile {
		margin: 5px !important
	}

	.kt-margin-t-5-mobile {
		margin-top: 5px !important
	}

	.kt-margin-b-5-mobile {
		margin-bottom: 5px !important
	}

	.kt-padding-5-mobile {
		padding: 5px !important
	}

	.kt-padding-t-5-mobile {
		padding-top: 5px !important
	}

	.kt-padding-b-5-mobile {
		padding-bottom: 5px !important
	}

	.kt-m5-mobile {
		margin: 5px !important
	}

	.kt-mt-5-mobile {
		margin-top: 5px !important
	}

	.kt-p5-mobile {
		padding: 5px !important
	}

	.kt-pb-5-mobile {
		padding-bottom: 5px !important
	}

	.kt-pl5-mobile {
		padding-left: 5px !important
	}

	.kt-pr5-mobile {
		padding-right: 5px !important
	}

	.kt-margin-10-mobile {
		margin: 10px !important
	}

	.kt-margin-t-10-mobile {
		margin-top: 10px !important
	}

	.kt-margin-b-10-mobile {
		margin-bottom: 10px !important
	}

	.kt-padding-10-mobile {
		padding: 10px !important
	}

	.kt-padding-t-10-mobile {
		padding-top: 10px !important
	}

	.kt-padding-b-10-mobile {
		padding-bottom: 10px !important
	}

	.kt-m10-mobile {
		margin: 10px !important
	}

	.kt-mt-10-mobile {
		margin-top: 10px !important
	}

	.kt-p10-mobile {
		padding: 10px !important
	}

	.kt-pb-10-mobile {
		padding-bottom: 10px !important
	}

	.kt-pl10-mobile {
		padding-left: 10px !important
	}

	.kt-pr10-mobile {
		padding-right: 10px !important
	}

	.kt-margin-15-mobile {
		margin: 15px !important
	}

	.kt-margin-t-15-mobile {
		margin-top: 15px !important
	}

	.kt-margin-b-15-mobile {
		margin-bottom: 15px !important
	}

	.kt-padding-15-mobile {
		padding: 15px !important
	}

	.kt-padding-t-15-mobile {
		padding-top: 15px !important
	}

	.kt-padding-b-15-mobile {
		padding-bottom: 15px !important
	}

	.kt-m15-mobile {
		margin: 15px !important
	}

	.kt-mt-15-mobile {
		margin-top: 15px !important
	}

	.kt-p15-mobile {
		padding: 15px !important
	}

	.kt-pb-15-mobile {
		padding-bottom: 15px !important
	}

	.kt-pl15-mobile {
		padding-left: 15px !important
	}

	.kt-pr15-mobile {
		padding-right: 15px !important
	}

	.kt-margin-20-mobile {
		margin: 20px !important
	}

	.kt-margin-t-20-mobile {
		margin-top: 20px !important
	}

	.kt-margin-b-20-mobile {
		margin-bottom: 20px !important
	}

	.kt-padding-20-mobile {
		padding: 20px !important
	}

	.kt-padding-t-20-mobile {
		padding-top: 20px !important
	}

	.kt-padding-b-20-mobile {
		padding-bottom: 20px !important
	}

	.kt-m20-mobile {
		margin: 20px !important
	}

	.kt-mt-20-mobile {
		margin-top: 20px !important
	}

	.kt-p20-mobile {
		padding: 20px !important
	}

	.kt-pb-20-mobile {
		padding-bottom: 20px !important
	}

	.kt-pl20-mobile {
		padding-left: 20px !important
	}

	.kt-pr20-mobile {
		padding-right: 20px !important
	}

	.kt-margin-25-mobile {
		margin: 25px !important
	}

	.kt-margin-t-25-mobile {
		margin-top: 25px !important
	}

	.kt-margin-b-25-mobile {
		margin-bottom: 25px !important
	}

	.kt-padding-25-mobile {
		padding: 25px !important
	}

	.kt-padding-t-25-mobile {
		padding-top: 25px !important
	}

	.kt-padding-b-25-mobile {
		padding-bottom: 25px !important
	}

	.kt-m25-mobile {
		margin: 25px !important
	}

	.kt-mt-25-mobile {
		margin-top: 25px !important
	}

	.kt-p25-mobile {
		padding: 25px !important
	}

	.kt-pb-25-mobile {
		padding-bottom: 25px !important
	}

	.kt-pl25-mobile {
		padding-left: 25px !important
	}

	.kt-pr25-mobile {
		padding-right: 25px !important
	}

	.kt-margin-30-mobile {
		margin: 30px !important
	}

	.kt-margin-t-30-mobile {
		margin-top: 30px !important
	}

	.kt-margin-b-30-mobile {
		margin-bottom: 30px !important
	}

	.kt-padding-30-mobile {
		padding: 30px !important
	}

	.kt-padding-t-30-mobile {
		padding-top: 30px !important
	}

	.kt-padding-b-30-mobile {
		padding-bottom: 30px !important
	}

	.kt-m30-mobile {
		margin: 30px !important
	}

	.kt-mt-30-mobile {
		margin-top: 30px !important
	}

	.kt-p30-mobile {
		padding: 30px !important
	}

	.kt-pb-30-mobile {
		padding-bottom: 30px !important
	}

	.kt-pl30-mobile {
		padding-left: 30px !important
	}

	.kt-pr30-mobile {
		padding-right: 30px !important
	}

	.kt-margin-35-mobile {
		margin: 35px !important
	}

	.kt-margin-t-35-mobile {
		margin-top: 35px !important
	}

	.kt-margin-b-35-mobile {
		margin-bottom: 35px !important
	}

	.kt-padding-35-mobile {
		padding: 35px !important
	}

	.kt-padding-t-35-mobile {
		padding-top: 35px !important
	}

	.kt-padding-b-35-mobile {
		padding-bottom: 35px !important
	}

	.kt-m35-mobile {
		margin: 35px !important
	}

	.kt-mt-35-mobile {
		margin-top: 35px !important
	}

	.kt-p35-mobile {
		padding: 35px !important
	}

	.kt-pb-35-mobile {
		padding-bottom: 35px !important
	}

	.kt-pl35-mobile {
		padding-left: 35px !important
	}

	.kt-pr35-mobile {
		padding-right: 35px !important
	}

	.kt-margin-40-mobile {
		margin: 40px !important
	}

	.kt-margin-t-40-mobile {
		margin-top: 40px !important
	}

	.kt-margin-b-40-mobile {
		margin-bottom: 40px !important
	}

	.kt-padding-40-mobile {
		padding: 40px !important
	}

	.kt-padding-t-40-mobile {
		padding-top: 40px !important
	}

	.kt-padding-b-40-mobile {
		padding-bottom: 40px !important
	}

	.kt-m40-mobile {
		margin: 40px !important
	}

	.kt-mt-40-mobile {
		margin-top: 40px !important
	}

	.kt-p40-mobile {
		padding: 40px !important
	}

	.kt-pb-40-mobile {
		padding-bottom: 40px !important
	}

	.kt-pl40-mobile {
		padding-left: 40px !important
	}

	.kt-pr40-mobile {
		padding-right: 40px !important
	}

	.kt-margin-45-mobile {
		margin: 45px !important
	}

	.kt-margin-t-45-mobile {
		margin-top: 45px !important
	}

	.kt-margin-b-45-mobile {
		margin-bottom: 45px !important
	}

	.kt-padding-45-mobile {
		padding: 45px !important
	}

	.kt-padding-t-45-mobile {
		padding-top: 45px !important
	}

	.kt-padding-b-45-mobile {
		padding-bottom: 45px !important
	}

	.kt-m45-mobile {
		margin: 45px !important
	}

	.kt-mt-45-mobile {
		margin-top: 45px !important
	}

	.kt-p45-mobile {
		padding: 45px !important
	}

	.kt-pb-45-mobile {
		padding-bottom: 45px !important
	}

	.kt-pl45-mobile {
		padding-left: 45px !important
	}

	.kt-pr45-mobile {
		padding-right: 45px !important
	}

	.kt-margin-50-mobile {
		margin: 50px !important
	}

	.kt-margin-t-50-mobile {
		margin-top: 50px !important
	}

	.kt-margin-b-50-mobile {
		margin-bottom: 50px !important
	}

	.kt-padding-50-mobile {
		padding: 50px !important
	}

	.kt-padding-t-50-mobile {
		padding-top: 50px !important
	}

	.kt-padding-b-50-mobile {
		padding-bottom: 50px !important
	}

	.kt-m50-mobile {
		margin: 50px !important
	}

	.kt-mt-50-mobile {
		margin-top: 50px !important
	}

	.kt-p50-mobile {
		padding: 50px !important
	}

	.kt-pb-50-mobile {
		padding-bottom: 50px !important
	}

	.kt-pl50-mobile {
		padding-left: 50px !important
	}

	.kt-pr50-mobile {
		padding-right: 50px !important
	}

	.kt-margin-55-mobile {
		margin: 55px !important
	}

	.kt-margin-t-55-mobile {
		margin-top: 55px !important
	}

	.kt-margin-b-55-mobile {
		margin-bottom: 55px !important
	}

	.kt-padding-55-mobile {
		padding: 55px !important
	}

	.kt-padding-t-55-mobile {
		padding-top: 55px !important
	}

	.kt-padding-b-55-mobile {
		padding-bottom: 55px !important
	}

	.kt-m55-mobile {
		margin: 55px !important
	}

	.kt-mt-55-mobile {
		margin-top: 55px !important
	}

	.kt-p55-mobile {
		padding: 55px !important
	}

	.kt-pb-55-mobile {
		padding-bottom: 55px !important
	}

	.kt-pl55-mobile {
		padding-left: 55px !important
	}

	.kt-pr55-mobile {
		padding-right: 55px !important
	}

	.kt-margin-60-mobile {
		margin: 60px !important
	}

	.kt-margin-t-60-mobile {
		margin-top: 60px !important
	}

	.kt-margin-b-60-mobile {
		margin-bottom: 60px !important
	}

	.kt-padding-60-mobile {
		padding: 60px !important
	}

	.kt-padding-t-60-mobile {
		padding-top: 60px !important
	}

	.kt-padding-b-60-mobile {
		padding-bottom: 60px !important
	}

	.kt-m60-mobile {
		margin: 60px !important
	}

	.kt-mt-60-mobile {
		margin-top: 60px !important
	}

	.kt-p60-mobile {
		padding: 60px !important
	}

	.kt-pb-60-mobile {
		padding-bottom: 60px !important
	}

	.kt-pl60-mobile {
		padding-left: 60px !important
	}

	.kt-pr60-mobile {
		padding-right: 60px !important
	}

	.kt-margin-65-mobile {
		margin: 65px !important
	}

	.kt-margin-t-65-mobile {
		margin-top: 65px !important
	}

	.kt-margin-b-65-mobile {
		margin-bottom: 65px !important
	}

	.kt-padding-65-mobile {
		padding: 65px !important
	}

	.kt-padding-t-65-mobile {
		padding-top: 65px !important
	}

	.kt-padding-b-65-mobile {
		padding-bottom: 65px !important
	}

	.kt-m65-mobile {
		margin: 65px !important
	}

	.kt-mt-65-mobile {
		margin-top: 65px !important
	}

	.kt-p65-mobile {
		padding: 65px !important
	}

	.kt-pb-65-mobile {
		padding-bottom: 65px !important
	}

	.kt-pl65-mobile {
		padding-left: 65px !important
	}

	.kt-pr65-mobile {
		padding-right: 65px !important
	}

	.kt-margin-70-mobile {
		margin: 70px !important
	}

	.kt-margin-t-70-mobile {
		margin-top: 70px !important
	}

	.kt-margin-b-70-mobile {
		margin-bottom: 70px !important
	}

	.kt-padding-70-mobile {
		padding: 70px !important
	}

	.kt-padding-t-70-mobile {
		padding-top: 70px !important
	}

	.kt-padding-b-70-mobile {
		padding-bottom: 70px !important
	}

	.kt-m70-mobile {
		margin: 70px !important
	}

	.kt-mt-70-mobile {
		margin-top: 70px !important
	}

	.kt-p70-mobile {
		padding: 70px !important
	}

	.kt-pb-70-mobile {
		padding-bottom: 70px !important
	}

	.kt-pl70-mobile {
		padding-left: 70px !important
	}

	.kt-pr70-mobile {
		padding-right: 70px !important
	}

	.kt-margin-75-mobile {
		margin: 75px !important
	}

	.kt-margin-t-75-mobile {
		margin-top: 75px !important
	}

	.kt-margin-b-75-mobile {
		margin-bottom: 75px !important
	}

	.kt-padding-75-mobile {
		padding: 75px !important
	}

	.kt-padding-t-75-mobile {
		padding-top: 75px !important
	}

	.kt-padding-b-75-mobile {
		padding-bottom: 75px !important
	}

	.kt-m75-mobile {
		margin: 75px !important
	}

	.kt-mt-75-mobile {
		margin-top: 75px !important
	}

	.kt-p75-mobile {
		padding: 75px !important
	}

	.kt-pb-75-mobile {
		padding-bottom: 75px !important
	}

	.kt-pl75-mobile {
		padding-left: 75px !important
	}

	.kt-pr75-mobile {
		padding-right: 75px !important
	}

	.kt-margin-80-mobile {
		margin: 80px !important
	}

	.kt-margin-t-80-mobile {
		margin-top: 80px !important
	}

	.kt-margin-b-80-mobile {
		margin-bottom: 80px !important
	}

	.kt-padding-80-mobile {
		padding: 80px !important
	}

	.kt-padding-t-80-mobile {
		padding-top: 80px !important
	}

	.kt-padding-b-80-mobile {
		padding-bottom: 80px !important
	}

	.kt-m80-mobile {
		margin: 80px !important
	}

	.kt-mt-80-mobile {
		margin-top: 80px !important
	}

	.kt-p80-mobile {
		padding: 80px !important
	}

	.kt-pb-80-mobile {
		padding-bottom: 80px !important
	}

	.kt-pl80-mobile {
		padding-left: 80px !important
	}

	.kt-pr80-mobile {
		padding-right: 80px !important
	}

	.kt-margin-85-mobile {
		margin: 85px !important
	}

	.kt-margin-t-85-mobile {
		margin-top: 85px !important
	}

	.kt-margin-b-85-mobile {
		margin-bottom: 85px !important
	}

	.kt-padding-85-mobile {
		padding: 85px !important
	}

	.kt-padding-t-85-mobile {
		padding-top: 85px !important
	}

	.kt-padding-b-85-mobile {
		padding-bottom: 85px !important
	}

	.kt-m85-mobile {
		margin: 85px !important
	}

	.kt-mt-85-mobile {
		margin-top: 85px !important
	}

	.kt-p85-mobile {
		padding: 85px !important
	}

	.kt-pb-85-mobile {
		padding-bottom: 85px !important
	}

	.kt-pl85-mobile {
		padding-left: 85px !important
	}

	.kt-pr85-mobile {
		padding-right: 85px !important
	}

	.kt-margin-90-mobile {
		margin: 90px !important
	}

	.kt-margin-t-90-mobile {
		margin-top: 90px !important
	}

	.kt-margin-b-90-mobile {
		margin-bottom: 90px !important
	}

	.kt-padding-90-mobile {
		padding: 90px !important
	}

	.kt-padding-t-90-mobile {
		padding-top: 90px !important
	}

	.kt-padding-b-90-mobile {
		padding-bottom: 90px !important
	}

	.kt-m90-mobile {
		margin: 90px !important
	}

	.kt-mt-90-mobile {
		margin-top: 90px !important
	}

	.kt-p90-mobile {
		padding: 90px !important
	}

	.kt-pb-90-mobile {
		padding-bottom: 90px !important
	}

	.kt-pl90-mobile {
		padding-left: 90px !important
	}

	.kt-pr90-mobile {
		padding-right: 90px !important
	}

	.kt-margin-95-mobile {
		margin: 95px !important
	}

	.kt-margin-t-95-mobile {
		margin-top: 95px !important
	}

	.kt-margin-b-95-mobile {
		margin-bottom: 95px !important
	}

	.kt-padding-95-mobile {
		padding: 95px !important
	}

	.kt-padding-t-95-mobile {
		padding-top: 95px !important
	}

	.kt-padding-b-95-mobile {
		padding-bottom: 95px !important
	}

	.kt-m95-mobile {
		margin: 95px !important
	}

	.kt-mt-95-mobile {
		margin-top: 95px !important
	}

	.kt-p95-mobile {
		padding: 95px !important
	}

	.kt-pb-95-mobile {
		padding-bottom: 95px !important
	}

	.kt-pl95-mobile {
		padding-left: 95px !important
	}

	.kt-pr95-mobile {
		padding-right: 95px !important
	}

	.kt-margin-100-mobile {
		margin: 100px !important
	}

	.kt-margin-t-100-mobile {
		margin-top: 100px !important
	}

	.kt-margin-b-100-mobile {
		margin-bottom: 100px !important
	}

	.kt-padding-100-mobile {
		padding: 100px !important
	}

	.kt-padding-t-100-mobile {
		padding-top: 100px !important
	}

	.kt-padding-b-100-mobile {
		padding-bottom: 100px !important
	}

	.kt-m100-mobile {
		margin: 100px !important
	}

	.kt-mt-100-mobile {
		margin-top: 100px !important
	}

	.kt-p100-mobile {
		padding: 100px !important
	}

	.kt-pb-100-mobile {
		padding-bottom: 100px !important
	}

	.kt-pl100-mobile {
		padding-left: 100px !important
	}

	.kt-pr100-mobile {
		padding-right: 100px !important
	}
}

.kt-align-right {
	text-align: right
}

.kt-align-center {
	text-align: center
}

.kt-icon-middle:before {
	vertical-align: middle
}

.kt-hidden {
	display: none !important
}

.kt-font-sm {
	font-size: .8rem !important
}

.kt-icon-sm {
	font-size: .75rem !important
}

b {
	font-weight: 700
}

.kt-font-brand {
	color: #5d78ff !important
}

.kt-bg-brand {
	background-color: #5d78ff !important
}

.kt-bg-fill-brand {
	background-color: #5d78ff !important;
	color: #fff !important
}

.kt-bg-fill-brand>i {
	color: #fff !important
}

.kt-font-primary {
	color: #5867dd !important
}

.kt-bg-primary {
	background-color: #5867dd !important
}

.kt-bg-fill-primary {
	background-color: #5867dd !important;
	color: #fff !important
}

.kt-bg-fill-primary>i {
	color: #fff !important
}

.kt-label-font-color-1 {
	color: #adb1c7 !important
}

.kt-label-bg-color-1 {
	background-color: #adb1c7 !important
}

.kt-label-font-color-2 {
	color: #a7abc3 !important
}

.kt-label-bg-color-2 {
	background-color: #a7abc3 !important
}

.kt-label-font-color-3 {
	color: #6c7293 !important
}

.kt-label-bg-color-3 {
	background-color: #6c7293 !important
}

.kt-label-font-color-4 {
	color: #464457 !important
}

.kt-label-bg-color-4 {
	background-color: #464457 !important
}

@media (max-width:768px) {
	.kt-hidden-mobile {
		display: none !important
	}
}

.kt-grid.kt-grid--center {
	-ms-flex-line-pack: center;
	align-content: center
}

.kt-grid>.kt-grid__item {
	max-width: 100%
}

.kt-grid>.kt-grid__item.kt-grid__item--top {
	-ms-flex-item-align: start;
	align-self: flex-start
}

.kt-grid>.kt-grid__item.kt-grid__item--middle {
	-ms-flex-item-align: center;
	align-self: center
}

.kt-grid>.kt-grid__item.kt-grid__item--bottom {
	-ms-flex-item-align: end;
	align-self: flex-end
}

@media (min-width:1025px) {
	.kt-grid.kt-grid--center {
		-ms-flex-line-pack: center;
		align-content: center
	}

	.kt-grid>.kt-grid__item {
		max-width: 100%
	}

	.kt-grid>.kt-grid__item.kt-grid__item--top {
		-ms-flex-item-align: start;
		align-self: flex-start
	}

	.kt-grid>.kt-grid__item.kt-grid__item--middle {
		-ms-flex-item-align: center;
		align-self: center
	}

	.kt-grid>.kt-grid__item.kt-grid__item--bottom {
		-ms-flex-item-align: end;
		align-self: flex-end
	}
}

@media (min-width:1400px) {
	.kt-grid.kt-grid--center {
		-ms-flex-line-pack: center;
		align-content: center
	}

	.kt-grid>.kt-grid__item {
		max-width: 100%
	}

	.kt-grid>.kt-grid__item.kt-grid__item--top {
		-ms-flex-item-align: start;
		align-self: flex-start
	}

	.kt-grid>.kt-grid__item.kt-grid__item--middle {
		-ms-flex-item-align: center;
		align-self: center
	}

	.kt-grid>.kt-grid__item.kt-grid__item--bottom {
		-ms-flex-item-align: end;
		align-self: flex-end
	}
}

@media (min-width:769px) {
	.kt-grid.kt-grid--center {
		-ms-flex-line-pack: center;
		align-content: center
	}

	.kt-grid>.kt-grid__item {
		max-width: 100%
	}

	.kt-grid>.kt-grid__item.kt-grid__item--top {
		-ms-flex-item-align: start;
		align-self: flex-start
	}

	.kt-grid>.kt-grid__item.kt-grid__item--middle {
		-ms-flex-item-align: center;
		align-self: center
	}

	.kt-grid>.kt-grid__item.kt-grid__item--bottom {
		-ms-flex-item-align: end;
		align-self: flex-end
	}
}

@media (min-width:769px) and (max-width:1024px) {
	.kt-grid.kt-grid--center {
		-ms-flex-line-pack: center;
		align-content: center
	}

	.kt-grid>.kt-grid__item {
		max-width: 100%
	}

	.kt-grid>.kt-grid__item.kt-grid__item--top {
		-ms-flex-item-align: start;
		align-self: flex-start
	}

	.kt-grid>.kt-grid__item.kt-grid__item--middle {
		-ms-flex-item-align: center;
		align-self: center
	}

	.kt-grid>.kt-grid__item.kt-grid__item--bottom {
		-ms-flex-item-align: end;
		align-self: flex-end
	}
}

@media (max-width:1024px) {
	.kt-grid.kt-grid--center {
		-ms-flex-line-pack: center;
		align-content: center
	}

	.kt-grid>.kt-grid__item {
		max-width: 100%
	}

	.kt-grid>.kt-grid__item.kt-grid__item--top {
		-ms-flex-item-align: start;
		align-self: flex-start
	}

	.kt-grid>.kt-grid__item.kt-grid__item--middle {
		-ms-flex-item-align: center;
		align-self: center
	}

	.kt-grid>.kt-grid__item.kt-grid__item--bottom {
		-ms-flex-item-align: end;
		align-self: flex-end
	}
}

@media (max-width:768px) {
	.kt-grid.kt-grid--center {
		-ms-flex-line-pack: center;
		align-content: center
	}

	.kt-grid>.kt-grid__item {
		max-width: 100%
	}

	.kt-grid>.kt-grid__item.kt-grid__item--top {
		-ms-flex-item-align: start;
		align-self: flex-start
	}

	.kt-grid>.kt-grid__item.kt-grid__item--middle {
		-ms-flex-item-align: center;
		align-self: center
	}

	.kt-grid>.kt-grid__item.kt-grid__item--bottom {
		-ms-flex-item-align: end;
		align-self: flex-end
	}
}

.kt-portlet {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-shadow: 0 0 13px 0 rgba(82, 63, 105, .05);
	box-shadow: 0 0 13px 0 rgba(82, 63, 105, .05);
	background-color: #fff;
	margin-bottom: 20px;
	border-radius: 4px
}

.kt-portlet .kt-portlet__head {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: relative;
	padding: 0 25px;
	border-bottom: 1px solid #ebedf2;
	min-height: 60px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px
}

.kt-portlet .kt-portlet__head .kt-portlet__head-label {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-line-pack: flex-first;
	align-content: flex-first
}

.kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
	margin: 0;
	padding: 0;
	font-size: 1.2rem;
	font-weight: 500;
	color: #fff
}

.kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-icon {
	padding-right: .75rem;
	font-size: 1.3rem;
	color: #a7abc3
}

.kt-portlet.kt-portlet--head-sm .kt-portlet__head {
	min-height: 50px
}

.kt-portlet .kt-portlet__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 25px;
	border-radius: 4px
}

.kt-portlet .kt-portlet__body .kt-portlet__content {
	padding: 0;
	margin: 0
}

.kt-portlet.kt-portlet--bordered {
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 1px solid #ebedf2
}

.kt-portlet.kt-portlet--last {
	margin-bottom: 0
}

.kt-portlet .kt-portlet__body.kt-portlet__body--center {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.kt-portlet .kt-portlet__body.kt-portlet__body--center-x {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

.kt-portlet .kt-portlet__body.kt-portlet__body--fluid {
	height: 100%;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	width: 100%
}

.kt-portlet .kt-portlet__body.kt-portlet__body--fill {
	-webkit-box-flex: 1 !important;
	-ms-flex-positive: 1 !important;
	flex-grow: 1 !important
}

.kt-portlet.kt-portlet--fit .kt-portlet__head {
	padding: 0
}

.kt-portlet.kt-portlet--fit .kt-portlet__body {
	padding: 0
}

.kt-portlet .kt-portlet__head.kt-portlet__head--fit {
	padding: 0
}

.kt-portlet .kt-portlet__body.kt-portlet__body--fit {
	padding: 0
}

.kt-portlet .kt-portlet__body.kt-portlet__body--fit-top {
	padding-top: 0 !important
}

.kt-portlet .kt-portlet__body.kt-portlet__body--fit-bottom {
	padding-bottom: 0 !important
}

.kt-portlet .kt-portlet__body.kt-portlet__body--fit-x {
	padding-left: 0;
	padding-right: 0
}

.kt-portlet .kt-portlet__head {
	-webkit-transition: left .3s, right .3s, height .3s;
	transition: left .3s, right .3s, height .3s;
	background: #0073b0;
	box-shadow: -1px 6px 9px #e3e3e3
}

@media (min-width:1025px) {
	.kt-portlet.kt-portlet--height-fluid {
		height: calc(100% - 20px)
	}

	.kt-portlet.kt-portlet--height-fluid .kt-portlet__body {
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1
	}
}

@media (max-width:1024px) {
	.kt-portlet {
		margin-bottom: 20px
	}

	.kt-portlet .kt-portlet__head {
		padding: 0 15px;
		min-height: 50px
	}

	.kt-portlet .kt-portlet__head.kt-portlet__head--sm {
		min-height: 40px
	}

	.kt-portlet.kt-portlet--head-sm .kt-portlet__head {
		min-height: 40px
	}

	.kt-portlet .kt-portlet__body {
		padding: 15px
	}
}

@-webkit-keyframes kt-scrolltop-show-animation {
	from {
		margin-bottom: -15px
	}

	to {
		margin-bottom: 0
	}
}

@keyframes kt-scrolltop-show-animation {
	from {
		margin-bottom: -15px
	}

	to {
		margin-bottom: 0
	}
}

.kt-form .kt-form__group.kt-form__group--inline {
	display: table;
	padding: 0
}

.kt-form .kt-form__group.kt-form__group--inline>.kt-form__label {
	display: table-cell;
	vertical-align: middle;
	margin: 0;
	padding-right: 1rem
}

.kt-form .kt-form__group.kt-form__group--inline>.kt-form__label>label {
	margin: 0
}

.kt-form .kt-form__group.kt-form__group--inline>.kt-form__control {
	display: table-cell;
	vertical-align: middle;
	margin: 0;
	width: 100%
}

@media (min-width:1025px) {
	.kt-form.kt-form--label-right .form-group label:not(.kt-checkbox):not(.kt-radio):not(.kt-option) {
		text-align: right
	}
}

.kt-input-icon {
	position: relative;
	padding: 0;
	width: 100%
}

.kt-input-icon>.kt-input-icon__icon {
	position: absolute;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	top: 0;
	width: 3.2rem
}

.kt-input-icon>.kt-input-icon__icon.kt-input-icon__icon--right {
	right: 0
}

.kt-input-icon>.kt-input-icon__icon>span {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100%
}

.kt-input-icon>.kt-input-icon__icon>span i {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	line-height: 0;
	color: #a7abc3
}

.kt-input-icon>.kt-input-icon__icon [class*=" la-"],
.kt-input-icon>.kt-input-icon__icon [class^=la-] {
	font-size: 1.4em
}

.kt-input-icon>.kt-input-icon__icon [class*=" fa-"],
.kt-input-icon>.kt-input-icon__icon [class^=fa-] {
	font-size: 1.2em
}

.kt-input-icon>.kt-input-icon__icon [class*=" flaticon-"],
.kt-input-icon>.kt-input-icon__icon [class*=" flaticon2-"],
.kt-input-icon>.kt-input-icon__icon [class^=flaticon-],
.kt-input-icon>.kt-input-icon__icon [class^=flaticon2-] {
	font-size: 1.3em
}

.kt-input-icon .form-control.form-control-sm~.kt-input-icon__icon {
	width: 2.7rem
}

.kt-input-icon .form-control.form-control-sm~.kt-input-icon__icon [class*=" la-"],
.kt-input-icon .form-control.form-control-sm~.kt-input-icon__icon [class^=la-] {
	font-size: 1.1em
}

.kt-input-icon .form-control.form-control-sm~.kt-input-icon__icon [class*=" fa-"],
.kt-input-icon .form-control.form-control-sm~.kt-input-icon__icon [class^=fa-] {
	font-size: 1em
}

.kt-input-icon .form-control.form-control-sm~.kt-input-icon__icon [class*=" flaticon-"],
.kt-input-icon .form-control.form-control-sm~.kt-input-icon__icon [class*=" flaticon2-"],
.kt-input-icon .form-control.form-control-sm~.kt-input-icon__icon [class^=flaticon-],
.kt-input-icon .form-control.form-control-sm~.kt-input-icon__icon [class^=flaticon2-] {
	font-size: 1em
}

.kt-input-icon.kt-input-icon--right .form-control {
	padding-right: 2.8rem
}

.kt-input-icon.kt-input-icon--right .form-control.form-control-sm {
	padding-right: 2.5rem
}

.kt-checkbox {
	display: inline-block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 10px;
	text-align: left;
	cursor: pointer;
	font-size: 1rem;
	-webkit-transition: all .3s ease;
	transition: all .3s ease
}

.kt-checkbox>input {
	position: absolute;
	z-index: -1;
	opacity: 0
}

.kt-checkbox>span {
	border-radius: 3px;
	background: 0 0;
	position: absolute;
	top: 1px;
	left: 0;
	height: 18px;
	width: 18px
}

.kt-checkbox>span:after {
	content: '';
	position: absolute;
	display: none;
	top: 50%;
	left: 50%;
	margin-left: -2px;
	margin-top: -6px;
	width: 5px;
	height: 10px;
	border-width: 0 2px 2px 0 !important;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}

.kt-checkbox>input:checked~span {
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	background: 0 0
}

.kt-checkbox>input:checked~span:after {
	display: block
}

.kt-checkbox:hover>input:not([disabled]):checked~span,
.kt-checkbox>input:checked~span {
	-webkit-transition: all .3s ease;
	transition: all .3s ease
}

.kt-checkbox>input:disabled~span {
	opacity: .6;
	pointer-events: none
}

.form-inline .kt-checkbox {
	margin-left: 15px;
	margin-right: 15px
}

.input-group .kt-checkbox {
	margin-bottom: 0 !important;
	padding-left: 0
}

.kt-checkbox-inline {
	padding: 0 0
}

.kt-checkbox-inline .kt-checkbox {
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 5px
}

.kt-checkbox-inline .kt-checkbox:last-child {
	margin-right: 0
}

.form-group.row .kt-checkbox-inline {
	margin-top: .75rem
}

.kt-checkbox>span {
	border: 1px solid #d1d7e2
}

.kt-checkbox>span:after {
	border: solid #bfc7d7
}

.kt-checkbox>input:disabled~span:after {
	border-color: #c8cfdd
}

.kt-checkbox>input:checked~span {
	border: 1px solid #c8cfdd
}

.kt-checkbox>input:disabled~span {
	opacity: .6
}

.kt-checkbox.kt-checkbox--brand>span {
	border: 1px solid #5d78ff
}

.kt-checkbox.kt-checkbox--brand>span:after {
	border: solid #5d78ff
}

.kt-checkbox.kt-checkbox--brand>input:disabled~span:after {
	border-color: #5d78ff
}

.kt-checkbox.kt-checkbox--brand>input:checked~span {
	border: 1px solid #5d78ff
}

.kt-checkbox.kt-checkbox--brand>input:disabled~span {
	opacity: .6
}

.kt-checkbox.kt-checkbox--primary>span {
	border: 1px solid #5867dd
}

.kt-checkbox.kt-checkbox--primary>span:after {
	border: solid #5867dd
}

.kt-checkbox.kt-checkbox--primary>input:disabled~span:after {
	border-color: #5867dd
}

.kt-checkbox.kt-checkbox--primary>input:checked~span {
	border: 1px solid #5867dd
}

.kt-checkbox.kt-checkbox--primary>input:disabled~span {
	opacity: .6
}

.kt-option {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 1.4em;
	border: 1px solid #ebedf2;
	border-radius: 4px
}

.kt-option .kt-option__control {
	width: 2.7rem;
	padding-top: .1rem
}

.kt-option .kt-option__label {
	width: 100%
}

.kt-option .kt-option__label .kt-option__head {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.kt-option .kt-option__label .kt-option__head .kt-option__title {
	font-size: 1.1rem;
	font-weight: 400;
	color: #6c7293
}

.kt-option .kt-option__label .kt-option__body {
	display: block;
	padding-top: .7rem;
	font-size: .9rem;
	color: #a7abc3
}

.kt-avatar {
	position: relative;
	display: inline-block
}

.kt-avatar .kt-avatar__upload {
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: absolute;
	right: -10px;
	top: -10px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #fff;
	-webkit-box-shadow: 0 0 13px 0 rgba(0, 0, 0, .1);
	box-shadow: 0 0 13px 0 rgba(0, 0, 0, .1);
	-webkit-transition: all .3s;
	transition: all .3s
}

.kt-avatar .kt-avatar__upload input {
	width: 0 !important;
	height: 0 !important;
	overflow: hidden;
	opacity: 0
}

.kt-avatar .kt-avatar__upload i {
	color: #5d78ff;
	font-size: .9rem
}

.kt-avatar .kt-avatar__upload:hover {
	-webkit-transition: all .3s;
	transition: all .3s;
	background-color: #5d78ff
}

.kt-avatar .kt-avatar__upload:hover i {
	color: #fff
}

.kt-avatar.kt-avatar--brand .kt-avatar__upload i {
	color: #5d78ff
}

.kt-avatar.kt-avatar--brand .kt-avatar__upload:hover {
	background-color: #5d78ff
}

.kt-avatar.kt-avatar--brand .kt-avatar__upload:hover i {
	color: #fff
}

.kt-avatar.kt-avatar--primary .kt-avatar__upload i {
	color: #5867dd
}

.kt-avatar.kt-avatar--primary .kt-avatar__upload:hover {
	background-color: #5867dd
}

.kt-avatar.kt-avatar--primary .kt-avatar__upload:hover i {
	color: #fff
}

.kt-spinner {
	position: relative
}

.kt-spinner:before {
	content: '';
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 0;
	border-radius: 50%
}

.kt-spinner.kt-spinner--sm:before {
	width: 16px;
	height: 16px;
	margin-top: -8px
}

.kt-spinner.kt-spinner--sm.kt-spinner--center:before {
	left: 50%;
	margin-left: -8px
}

.kt-spinner.kt-spinner--sm.kt-spinner--right:before {
	left: auto;
	right: 0
}

.kt-spinner:before {
	width: 20px;
	height: 20px;
	margin-top: -10px
}

.kt-spinner.kt-spinner--center:before {
	left: 50%;
	margin-left: -10px
}

.kt-spinner.kt-spinner--right:before {
	left: auto;
	right: 0
}

.kt-spinner:before {
	-webkit-animation: kt-spinner .5s linear infinite;
	animation: kt-spinner .5s linear infinite
}

.kt-spinner.kt-spinner--brand:before {
	border: 2px solid #5d78ff;
	border-right: 2px solid transparent
}

.kt-spinner.kt-spinner--primary:before {
	border: 2px solid #5867dd;
	border-right: 2px solid transparent
}

.kt-spinner.kt-spinner--input.kt-spinner--right:before {
	left: auto;
	right: 1rem
}

@-webkit-keyframes kt-spinner {
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@keyframes kt-spinner {
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@-webkit-keyframes kt-loader-scaleout {
	0% {
		opacity: .3;
		-webkit-transform: scale(0);
		transform: scale(0)
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

@keyframes kt-loader-scaleout {
	0% {
		opacity: .3;
		-webkit-transform: scale(0);
		transform: scale(0)
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

.kt-pulse {
	position: relative
}

@-webkit-keyframes kt-pulse {
	0% {
		-webkit-transform: scale(.1, .1);
		opacity: 0
	}

	60% {
		-webkit-transform: scale(.1, .1);
		opacity: 0
	}

	65% {
		opacity: 1
	}

	100% {
		-webkit-transform: scale(1.2, 1.2);
		opacity: 0
	}
}

@keyframes kt-pulse {
	0% {
		-webkit-transform: scale(.1, .1);
		opacity: 0
	}

	60% {
		-webkit-transform: scale(.1, .1);
		opacity: 0
	}

	65% {
		opacity: 1
	}

	100% {
		-webkit-transform: scale(1.2, 1.2);
		opacity: 0
	}
}

[data-switch=true] {
	opacity: 0
}

.fa-sm {
	font-size: .875em !important
}

.fa-1x {
	font-size: 1em !important
}

.fa-2x {
	font-size: 2em !important
}

.fa-3x {
	font-size: 3em !important
}

.fa-4x {
	font-size: 4em !important
}

.fa-5x {
	font-size: 5em !important
}

.fa-6x {
	font-size: 6em !important
}

.fa-7x {
	font-size: 7em !important
}

.fa-8x {
	font-size: 8em !important
}

.fa-9x {
	font-size: 9em !important
}

.fa-10x {
	font-size: 10em !important
}

select.select2 {
	opacity: 0
}

.select2>select.form-control {
	opacity: 0
}

.kt-head {
	padding: 2.5rem 1rem;
	margin: 0;
	background-size: cover;
	background-repeat: no-repeat
}

.kt-head.kt-head--fit-x {
	padding-left: 0;
	padding-right: 0
}

.kt-head.kt-head--fit-b {
	padding-bottom: 0 !important
}

.kt-head.kt-head--fit-t {
	padding-top: 0 !important
}

.kt-head .kt-head__title {
	font-size: 1.3rem;
	font-weight: 500;
	text-align: center;
	margin: 0
}

.kt-subheader {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 10px 25px;
	background-color: #fff
}

.kt-subheader .btn {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	height: 32px !important;
	padding-top: 0;
	padding-bottom: 0;
	margin-top: .25rem;
	margin-bottom: .25rem
}

.kt-subheader .btn i {
	font-size: 1rem !important
}

.kt-subheader .btn.btn-icon {
	width: 32px !important
}

.kt-subheader .btn:not(.dropdown-toggle-split) {
	margin-left: .5rem
}

.kt-subheader .kt-subheader__btn-primary {
	background: #f2f3f7;
	color: #959cb6;
	font-weight: 500
}

.kt-subheader .kt-subheader__btn-primary i {
	color: #959cb6
}

.kt-subheader .kt-subheader__btn-primary:active,
.kt-subheader .kt-subheader__btn-primary:focus,
.kt-subheader .kt-subheader__btn-primary:hover {
	color: #fff;
	background: #5d78ff
}

.kt-subheader .kt-subheader__btn-primary:active i,
.kt-subheader .kt-subheader__btn-primary:focus i,
.kt-subheader .kt-subheader__btn-primary:hover i {
	color: #fff
}

@media (max-width:1024px) {
	.kt-subheader {
		padding: 2px 15px
	}
}

.kt-demo-icon {
	margin-bottom: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 20px;
	border-radius: 4px
}

.kt-demo-icon .kt-demo-icon__preview {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-right: 20px;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 40px;
	flex: 0 0 40px
}

.kt-demo-icon .kt-demo-icon__preview i {
	line-height: 0;
	vertical-align: middle;
	font-size: 2.5rem !important
}

.kt-demo-icon .kt-demo-icon__class {
	color: #a7abc3;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	padding: 0;
	font-size: 1rem;
	font-weight: 400
}

.kt-demo-icon:hover {
	background-color: #f7f8fa
}

.kt-link {
	text-decoration: none;
	position: relative;
	display: inline-block;
	color: #505ae2
}

.kt-link:after {
	display: block;
	content: '';
	position: absolute;
	bottom: 0;
	top: 1rem;
	left: 0;
	width: 0%;
	-webkit-transition: width .3s ease;
	transition: width .3s ease
}

.kt-link:hover {
	text-decoration: none !important
}

.kt-link:hover:after {
	width: 100%
}

.kt-link:hover {
	color: #3641de
}

.kt-link:hover:after {
	border-bottom: 1px solid #3641de;
	opacity: .3
}

.kt-link.kt-link--brand {
	color: #5d78ff
}

.kt-link.kt-link--brand:hover {
	color: #2a4eff
}

.kt-link.kt-link--brand:hover:after {
	border-bottom: 1px solid #2a4eff;
	opacity: .3
}

.kt-link.kt-link--primary {
	color: #5867dd
}

.kt-link.kt-link--primary:hover {
	color: #2e40d4
}

.kt-link.kt-link--primary:hover:after {
	border-bottom: 1px solid #2e40d4;
	opacity: .3
}

.kt-section {
	padding: 0;
	margin: 0 0 2rem 0
}

.kt-section .kt-section__title {
	display: block;
	font-size: 1.3rem;
	font-weight: 500;
	padding: 0;
	margin: 0 0 1.75rem 0;
	color: #464457
}

.kt-section .kt-section__title.kt-section__title-sm {
	font-size: 1.1rem
}

.kt-section .kt-section__content {
	display: block;
	padding: 0;
	margin: 0
}

.kt-section .kt-section__content.kt-section__content--x-fit {
	padding-left: 0;
	padding-right: 0
}

.kt-section .kt-section__content.kt-section__content--fit {
	padding: 0
}

.kt-section.kt-section--last {
	margin-bottom: 0
}

.kt-section.kt-section--first {
	margin-top: 0
}

.kt-svg-icon {
	height: 23px;
	width: 23px
}

.kt-svg-icon.kt-svg-icon--sm {
	height: 20px;
	width: 20px
}

body {
	background: #f2f3f8
}

@media (min-width:1025px) {
	.kt-subheader {
		margin: 0
	}
}

@-webkit-keyframes kt-header-menu-submenu-fade-out {
	from {
		opacity: 1
	}

	to {
		opacity: 0
	}
}

@keyframes kt-header-menu-submenu-fade-out {
	from {
		opacity: 1
	}

	to {
		opacity: 0
	}
}

@-webkit-keyframes kt-header-menu-submenu-fade-in {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

@keyframes kt-header-menu-submenu-fade-in {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

@-webkit-keyframes kt-header-menu-submenu-move-up {
	from {
		margin-top: -10px
	}

	to {
		margin-top: 0
	}
}

@keyframes kt-header-menu-submenu-move-up {
	from {
		margin-top: -10px
	}

	to {
		margin-top: 0
	}
}

@-webkit-keyframes kt-header-menu-submenu-move-down {
	from {
		margin-top: 10px
	}

	to {
		margin-top: 0
	}
}

@keyframes kt-header-menu-submenu-move-down {
	from {
		margin-top: 10px
	}

	to {
		margin-top: 0
	}
}

@-webkit-keyframes kt-aside-menu-submenu-fade-out {
	from {
		opacity: 1
	}

	to {
		opacity: 0
	}
}

@keyframes kt-aside-menu-submenu-fade-out {
	from {
		opacity: 1
	}

	to {
		opacity: 0
	}
}

@-webkit-keyframes kt-aside-menu-submenu-fade-in {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

@keyframes kt-aside-menu-submenu-fade-in {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

@-webkit-keyframes kt-aside-menu-submenu-move-up {
	from {
		margin-top: 10px
	}

	to {
		margin-top: 0
	}
}

@keyframes kt-aside-menu-submenu-move-up {
	from {
		margin-top: 10px
	}

	to {
		margin-top: 0
	}
}

@-webkit-keyframes kt-aside-menu-submenu-move-down {
	from {
		margin-bottom: 10px
	}

	to {
		margin-bottom: 0
	}
}

@keyframes kt-aside-menu-submenu-move-down {
	from {
		margin-bottom: 10px
	}

	to {
		margin-bottom: 0
	}
}

.kt-content {
	padding: 5px
}

@media (max-width:1024px) {
	.kt-content {
		padding: 15px
	}
}